html {
    box-sizing:border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
      background-image: url("https://lh3.googleusercontent.com/iY28V0aC7QO6BaBFJJjS0fMugK2aEzQR1DdNHZEtDjmT45aaqusxjHAP3ffbFET9EFlZbTpDw3fA7M6G6S-u0wzeewzCjilGO59t5D-KFl_cm7qgdQcN5s_smHv4y1nbWSnfBvQYzg");
      color: #C5C6C7;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
  }
  .light-mode{
      background-image: url("https://lh3.googleusercontent.com/086sB2PmC05g5WKgzfQv01ZOzKo5nTj9AeVWLzOFtrgifTHbrEU7MzlR4AWY-jIgbYEwNmr0t_N5hgdM568-sPSl2ylJrDBVaHag842ltk0CxVnoC-h_8SeVYIfLKTpTUJXs9-8Sew");
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
  }
  .para{
      background-image: url("https://lh3.googleusercontent.com/b3AkQKkcaNZobdznHDwtktMcNkGU2QhNcqYSbIz-KTGczLBPikiRFzqo3kwUqYjYJZxGLehBlk3aMLsOo55aae1aBkN1lXrOayIO0SQWp-no6jNF9UqVE7fu61afUWw3_U_Zmi1fbg");
      color:whitesmoke;
      padding-top: 20px;
      padding-bottom:20px;
      padding-left:60px;
      margin-top:55px;
      margin-bottom:55px;
  }
  .para-light{
      background-image:url("y-so-serious-white.png");
      color:black;
  }